body {
  font-family: sans-serif;
}

#github {
  height: 30pt;
  margin-right: 10pt;
}

#appstore {
  height: 30pt;
  margin-right: 10pt;
}

#cover-photo {
  max-width: 100%;
}

#or-label {
  margin-left: 10pt;
}

#preview-button {
  text-decoration: underline;
  color: #333;
}

#avatar {
  width: 40%;
  float: left;
  margin-right: 10pt;
  border-radius: 6px;
}

.toc_summary {
  margin-top: 4pt;
}